@{
    ViewData["Title"] = "Company";
}

<!-- Main Menu Start -->
<div id="page-top"></div>
<nav id="main-menu" class="navbar navbar-expand-lg navbar-fixed-top p-0">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="q1" asp-action="index"><img style="height: 70px; margin-top: -15px" src="~/images/logo.png" alt="Muse Logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="headernavigation" class="nav navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link"  asp-area="" asp-controller="q1" asp-action="index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="profile">Profile</a></li>
                <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="company">Company</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="product">Product</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="collaboration">Collaboration</a></li>
            </ul> 
        </div>
    </div>
</nav>

<!-- About Us -->
<section id="about-us" class="section-black2-bg">
    <div class="container element-from-top">
        <center><img src="~/images/logo2.png" alt="Muse Logo" width="150px" style="margin-top: 100px"></center>
        
        <div class="section-title-bottom">
            <span class="section-title-bottom-inner yellow-border"></span>
        </div>
    </div>

    <div class="about-us-post-container element-from-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 about-us-post">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="post-title text-white">About</h3>

                            <p class="text-white">									
                                Based in Sunny Singapore, <strong>MUSE Communication Singapore</strong> was established in March 2019 and is an active branch company of <strong>MUSE Communications (Taiwan)</strong>.
                                <br><br><strong>MUSE Communication Singapore</strong> is comprised of a young team armed with fresh ideas and new perspectives on the rich animation industry. Borne of a society that can be said to be a 'melting pot of cultures', the staff are well equipped with the knowledge and awareness to better cater to audiences not only in Southeast Asia but Asia as a whole. Driven with a desire to learn and grow in the Animation Industry, MUSE Communication Singapore not only provides premium content by keeping on the ball with the latest trends and releases; but also reaching out to the people on the ground.
                                <br><br>Adopting a contemporary approach to business, <strong>MUSE Communication Singapore</strong> is ready to take on the world.
                            </p>
                            <p></p>
                        </div>

                        <div class="col-lg-6">
                            <h3 class="post-title text-white">Mission</h3>

                            <p class="text-white">									
                                <strong>MUSE Communication Singapore</strong> aims to be a leader in the industry of Intellectual Property in the genre of Animation as well as Anime Merchandise Retail in Southeast Asia. We hope to be the No.1 Retail choice for consumers in Southeast Asia.
                                <br><br>By taking part in events regionally, we hope to build a solid community of fans and partners, and eventually realize a self-sustaining industry of creators and consumers.
                            </p>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Section  -->
<section id="team" class="section-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 element-from-top">
                <h2 class="section-title" style="margin-top: 100px">Our Team</h2>
                
                <div class="section-title-bottom">
                    <span class="section-title-bottom-inner yellow-border"></span>
                </div>

                <p class="section-description text-center">
                    We're led by a team who constantly questions, tinkers, and challenges to unlock great creativity around every turn.
                </p>
            </div>

            <div id="team-member-slider"  class="owl-carousel owl-theme">
                <div class="item element-from-bottom-200">
                    <div class="team-member">
                        <div class="team-member-img-container">
                            <div class="team-member-img-hex">
                                <div class="team-member-img-hex1 team-member-img-hex2">
                                    <div class="team-member-img-hex-in1">
                                        <div id="team-member-img-1" class="team-member-img-hex-in2">
                                            <div class="team-member-social-btn">
                                                <a class="facebook-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-facebook"></i></span>
                                                    </span>
                                                </a>

                                                <a class="twitter-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-twitter"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="google-plus-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-google-plus"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="linkedin-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-linkedin"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="team-member-name">Muhammad Dapos</h3>
                        <p class="team-member-designation">Chairman</p>
                    </div>
                </div>

                <div class="item element-from-bottom-600">
                    <div class="team-member">
                        <div class="team-member-img-container">
                            <div class="team-member-img-hex">
                                <div class="team-member-img-hex1 team-member-img-hex2">
                                    <div class="team-member-img-hex-in1">
                                        <div id="team-member-img-2"  class="team-member-img-hex-in2">
                                            <div class="team-member-social-btn">
                                                <a class="facebook-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-facebook"></i></span>
                                                    </span>
                                                </a>

                                                <a class="twitter-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-twitter"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="google-plus-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-google-plus"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="linkedin-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-linkedin"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="team-member-name">Albert Kosimp</h3>
                        <p class="team-member-designation">Vice President</p>
                    </div>
                </div>

                <div class="item element-from-bottom-1000">
                    <div class="team-member">
                        <div class="team-member-img-container">
                            <div class="team-member-img-hex">
                                <div class="team-member-img-hex1 team-member-img-hex2">
                                    <div class="team-member-img-hex-in1">
                                        <div id="team-member-img-3"  class="team-member-img-hex-in2">
                                            <div class="team-member-social-btn">
                                                <a class="facebook-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-facebook"></i></span>
                                                    </span>
                                                </a>

                                                <a class="twitter-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-twitter"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="google-plus-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-google-plus"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="linkedin-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-linkedin"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="team-member-name">Shani Indira Natio</h3>
                        <p class="team-member-designation">Marketing Manager</p>
                    </div>
                </div>

                <div class="item element-from-bottom-1400">
                    <div class="team-member">
                        <div class="team-member-img-container">
                            <div class="team-member-img-hex">
                                <div class="team-member-img-hex1 team-member-img-hex2">
                                    <div class="team-member-img-hex-in1">
                                        <div id="team-member-img-4"  class="team-member-img-hex-in2">
                                            <div class="team-member-social-btn">
                                                <a class="facebook-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-facebook"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="twitter-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-twitter"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="google-plus-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-google-plus"></i></span>
                                                    </span>
                                                </a>
                                                
                                                <a class="linkedin-btn" href="#">
                                                    <span class="small-hex-btn">
                                                        <span><i class="fa fa-linkedin"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="team-member-name">Azizi Asadel</h3>
                        <p class="team-member-designation">Administration Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>