@{
    ViewData["Title"] = "Product";
}

<!-- Main Menu Start -->
<div id="page-top"></div>
<nav id="main-menu" class="navbar navbar-expand-lg navbar-fixed-top p-0">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="q1" asp-action="index"><img style="height: 70px; margin-top: -15px" src="~/images/logo.png" alt="Muse Logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="headernavigation" class="nav navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link"  asp-area="" asp-controller="q1" asp-action="index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="company">Company</a></li>
                <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="product">Product</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="q1" asp-action="collaboration">Collaboration</a></li>
            </ul> 
        </div>
    </div>
</nav>

<!-- Service Section -->
<section id="service" class="section-black2-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 element-from-top">
                <h2 class="section-title text-white" style="margin-top: 100px">Our Business Pilars</h2>
                
                <div class="section-title-bottom">
                    <span class="section-title-bottom-inner yellow-border"></span>
                </div>
            </div>
            <div class="service">
                <div class="row">
                    <div class="service-box col-sm-6 col-lg-4 element-from-left">
                        <div class="service-icon">
                            <i class="fa fa-video-camera"></i>
                        </div>
                        <h4 class="service-title"><a href="#">Legal Distribution of Anime</a></h4>
                        <p class="service-text">
                            In order to provide the best service and experience for fans in Southeast Asia, <strong>Muse Communication</strong> only uploads videos with official licenses and does not upload any illegal videos at all.
                        </p>
                    </div>

                    <div class="service-box col-sm-6 col-lg-4 element-from-right">
                        <div class="service-icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <h4 class="service-title"><a href="#">Official Merchandise</a></h4>
                        <p class="service-text">
                            We have <a href="https://www.hakkenonline.com/" target="_blank"><strong>Hakken</strong></a>, which is a brand new online retail store specializing in Anime goods, aiming to create a unique retail experience for customers.
                        </p>
                    </div>

                    <div class="service-box col-sm-6 col-lg-4 element-from-left">
                        <div class="service-icon">
                            <i class="fa fa-ticket"></i>
                        </div>
                        <h4 class="service-title"><a href="#">Events</a></h4>
                        <p class="service-text">
                            We will not only be actively participating in various events regionally but also holding fun and exciting events of our own.
                        </p>
                    </div>

                    <div class="service-box col-sm-6 col-lg-4 element-from-right">
                        <div class="service-icon">
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="service-title"><a href="#">Talent Management</a></h4>
                        <p class="service-text">
                            We have a lot of relationships especially in the anime industry. Want to invite Cosplayers or Voice Actor/Actress (Seiyuu) as guests at your event?
                        </p>
                    </div>

                    <div class="service-box col-sm-6 col-lg-4 element-from-bottom">
                        <div class="service-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <h4 class="service-title"><a href="#">Collaboration</a></h4>
                        <p class="service-text">
                            We accept various forms of collaboration with media partners in anime events both on a local and regional scale and even globally.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 element-from-top">
                <h2 class="section-title" style="margin-top: 100px">Testimonials</h2>
                
                <div class="section-title-bottom">
                    <span class="section-title-bottom-inner yellow-border"></span>
                </div>
            </div>

            <div id="client-slider" class="owl-carousel owl-theme">
                <div class="item element-from-right">
                    <div class="media">
                        <div class="pull-left">
                            <div class="client-img-container">
                                <div class="client-img-hex">
                                    <div class="client-img-hex1 client-img-hex2">
                                        <div class="client-img-hex-in1">
                                            <div id="clinet-img-1" class="client-img-hex-in2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media-body">
                            <div class="client-review">
                                <h4 class="media-heading client-name-title">
                                    Larissa Rochefort <span> | </span><span>Cosplayer</span>
                                </h4>
                                
                                <p class="client-message">
                                    Muse Communication brings easier access to watching anime especially in Southeast Asia.
                                </p>
                            </div>
                        </div>
                    </div> 
                </div> 

                <div class="item element-from-left">
                    <div class="media">
                        <div class="pull-left">
                            <div class="client-img-container">
                                <div class="client-img-hex">
                                    <div class="client-img-hex1 client-img-hex2">
                                        <div class="client-img-hex-in1">
                                            <div id="clinet-img-2" class="client-img-hex-in2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media-body">
                            <div class="client-review">
                                <h4 class="media-heading client-name-title">
                                    The Wok<span> | </span><span>Chairman Muse Communication Taiwan</span>
                                </h4>
                                <p class="client-message">
                                    I hope Muse Asia can continue to be successful in bringing anime for free and legally to Southeast Asia.
                                </p>
                            </div>
                        </div>
                    </div> 
                </div> 

                <div class="item">
                    <div class="media">
                        <div class="pull-left">
                            <div class="client-img-container">
                                <div class="client-img-hex">
                                    <div class="client-img-hex1 client-img-hex2">
                                        <div class="client-img-hex-in1">
                                            <div id="clinet-img-3"  class="client-img-hex-in2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media-body">
                            <div class="client-review">
                                <h4 class="media-heading client-name-title">
                                    Sora Amamiya<span> | </span><span>Voice Actress</span>
                                </h4>

                                <p class="client-message">
                                    Hopefully with Muse Asia, the anime industry can be better known and expanded globally, especially in Southeast Asia, where the market is quite promising.
                                </p>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>

            <div class="client-slide-navigator clearfix customNavigation">
                <a class="slide-nav-hex client-prev" href="#client-slider" data-slide="prev">
                    <span class="small-hex-btn">
                        <span><i class="fa fa-angle-left"></i></span>
                    </span>
                </a>
                
                <a class="slide-nav-hex client-next" href="#client-slider" data-slide="next">
                    <span class="small-hex-btn">
                        <span><i class="fa fa-angle-right"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>